@model ITPM_Project2022_SLIIT.Models.BookTickets

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row Ccen">
    <div class="ChomemaindivMain">
        <h2 class="pageName">Calculate Price</h2>

        <form onSubmit="cal(event)">
            <div class="form-group">
                <label class="control-label">Ticket Price</label>
                <input class="form-control" id="TicketsPrice" name="TicketsPrice" />
            </div>
                    
            <center>
                <input class="btn btn-success" type="submit" value="Calculate" />
            </center>
            <br />
                    
            <div class="card-footer text-muted">
            <center>
                <b><p id="dfgh">Total Tickets Price</p></b>
            </center>
            </div>

        </form>

    </div>
    
  </div>
</div>
                       
<div class="container">
            <h2 class="pageName">Tickets Details</h2>
 <form onsubmit="ChechFormTi(event)" asp-action="Edit">
    
  <div class="row">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Id" />
      <input type="hidden" asp-for="Date" />
      <input type="hidden" asp-for="Time" />

      <div class="col order-last Ctidiv">
            <div class="form-group">
                <label asp-for="PassengerName" class="control-label"></label>
                <input type="hidden" asp-for="PassengerName" class="form-control" />
                <input asp-for="PassengerName" class="form-control" disabled/>
                <span asp-validation-for="PassengerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportNumber" class="control-label"></label>
                <input type="hidden" asp-for="PassportNumber" class="form-control" />
                <input asp-for="PassportNumber" class="form-control" disabled/>
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="hidden" asp-for="Email" class="form-control" />
                <input asp-for="Email" class="form-control" disabled/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input type="hidden" asp-for="MobileNumber" class="form-control" />
                <input  asp-for="MobileNumber" class="form-control" disabled/>
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightName" class="control-label"></label>
                <input type="hidden" asp-for="FlightName" class="form-control" />
                <input asp-for="FlightName" class="form-control" disabled/>
                <span asp-validation-for="FlightName" class="text-danger"></span>
            </div>
        </div>
                <span class="CAtab"></span>    
        <div class="col Ctidiv">
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input type="hidden" asp-for="Destination" class="form-control" />
                <input asp-for="Destination" class="form-control" disabled/>
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input type="hidden" asp-for="Class" class="form-control" />
                <input asp-for="Class" class="form-control" disabled/>
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredSeat" class="control-label"></label>
                <input type="hidden" id="requirdSeat" asp-for="RequiredSeat" class="form-control" />
                <input asp-for="RequiredSeat" class="form-control" disabled/>
                <span asp-validation-for="RequiredSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidPrice" class="control-label"></label>
                <input type="hidden" asp-for="PaidPrice" class="form-control" />
                <input asp-for="PaidPrice" class="form-control" disabled/>
                <span asp-validation-for="PaidPrice" class="text-danger"></span>
            </div> 
            <br>
                <div class="form-group">
                <center><input type="submit" value="Confirm" class="btn btn-outline-primary" style="width:200px" /></center>
                </div>
        </div>
                <span class="CAtab"></span>
        <div class="col order-first Ctidiv">
            <div class="form-group">
                <label asp-for="TicketNumber" class="control-label"></label>
                <input asp-for="TicketNumber" id="tickets" class="form-control"/>
                <span asp-validation-for="TicketNumber" class="text-danger"></span>
                <div id="ticket_error" class="error hidden">Please enter a valid Tickets Number</div>
            </div>
            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <input asp-for="SeatNumber" id="seat" class="form-control"/>
                <span asp-validation-for="SeatNumber" class="text-danger"></span>
                <div id="seat_error" class="error hidden">Please enter a valid Seat Numeber</div>
            </div>
            <div class="form-group">
                <label asp-for="GateNumber" class="control-label"></label>
                <input asp-for="GateNumber" id="gate" class="form-control"/>
                <span asp-validation-for="GateNumber" class="text-danger"></span>
                <div id="gate_error" class="error hidden">Please enter a valid Gate Number</div>
            </div>
             <div class="form-group">
                <label asp-for="PaidRecipt" class="control-label"></label>
                <input type="hidden" asp-for="PaidRecipt" class="form-control" />
                <img src="~/Images/@Model.PaidRecipt" style="width:330px; height:150px;">
                <span asp-validation-for="PaidRecipt" class="text-danger"></span>
            </div>
        </div>
         
    </div>

  </form>
</div>