.CAddButton {
    margin-left: 50px;
}

.Ccen {
    margin: auto;
    width: 50%;
}

.ChomemaindivMain {
    border: 5px solid cadetblue;
    border-radius: 5px;
    background-color: ghostwhite;
    margin: auto;
    margin-top:30px;
    margin-bottom:50px;
    width:50%;
    padding: 20px;
}

.Ctidiv{
    border: 5px solid cadetblue;
    border-radius: 5px;
    background-color: ghostwhite;
}

.CAtab {
    display: inline-block;
    margin-left: 40px;
}

.Cupdiv {
    border: 5px solid cadetblue;
    border-radius: 5px;
    background-color: ghostwhite;
    padding: 20px;
    width:20%;
}

.tabwid {
    margin:auto;
}

.tabcen {
    width: 45%;
    margin: auto;
}

#noti {
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    width:35px;
    height:35px;
    padding-left:9px;
    border: 2px solid black;
    border-radius:50%;
    margin-left:10px;
}