
.NFtbl {
    background: linear-gradient(to bottom, white, LightSeaGreen);
    color: white;
}




.NABC {
    background: lightblue;
}

.UPfirst {
    margin-left: 350px;
    background-color: Violet;
    width: 450px;
    border: 4px solid gray;
}

.homemaindivfood {
    border: 2px solid gray;
    border-radius: 5px;
    background-color: ghostwhite;
    margin: auto;
    width:50%;
    text-align:center;
    padding: 10px;
}

.Nadd{
    width:300px;
}

.Norder {
    width: 300px;
}

.Nbutduv {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
    margin-top:40px;
}

.Naddform {
    background-color: ghostwhite;
    margin: auto;
    width: 35%;
    padding: 30px;
    border: 5px solid cadetblue;
    border-radius:10px;
}

.Ndeleldiv {
    font-size:20px;
    margin-left:100px;
}

.Ndelel {
    padding:30px;
    width:40%;
    background-color: ghostwhite;
    border: 5px solid cadetblue;
    border-radius: 10px;
}