.bg-cover {
    background-size: cover !important;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top:20px;
}

h5 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 15px;
}

.TfontT {
    font-family: 'Dancing Script', cursive;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.navfooter {
    //border: 3px solid gray;
    border-radius: 7px
}

.homemaindiv0 {
    border: 5px solid cadetblue;
    border-radius: 5px;
    background-color: ghostwhite;
    margin: 50px 0px 0px 0px;
    border-radius: 10px;
}

#image1{
    width: 450px;
    height: 142px;
}

#booknow{
    margin-bottom:20px;
}

.homecol{
    width:400px;
}
/*-------------------footer-------------------*/
.footer {
    height:60px;
    font-family: 'Dancing Script', cursive;
    font-size:14px;
    text-align:center;
    background-color: ghostwhite;
    color: #4b4c4d;
}

.footer-basic {
    font-family: 'Dancing Script', cursive;
    padding: 8px 0 0 0;
    background-color: ghostwhite;
    color: #4b4c4d;
}

    .footer-basic ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }

    .footer-basic li {
        padding: 0 10px;
    }

    .footer-basic ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

        .footer-basic ul a:hover {
            opacity: 1;
        }

    .footer-basic .social {
        text-align: center;
    }

        .footer-basic .social > a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 8px;
            color: inherit;
            opacity: 0.75;
        }

            .footer-basic .social > a:hover {
                opacity: 0.9;
            }

    .footer-basic .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }

/*-------------------flight list table-------------------*/
.tanheight{
    height:40px;
    background-color:cadetblue;
    color:white;
}

.tabBor {
    border: 10px solid cadetblue;
}

.tanheight0 {
    height: 50px;
}

/*-------------------Book Tickets Form-------------------*/
.star{
    color:red;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

/*-------------------food-------------------*/
.fname {
    font-size: 30px;
    text-align: center;
}

.cardfont{
    font-size:15px;
    color:darkslategrey;
}

.cardfont0 {
    font-size: 18px;
    color: darkslategrey;
}

.carddiv {
    background-color: ghostwhite;
    padding: 30px;
}