
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row cen">
    <div class="homemaindivMain">
        <h2 class="pageName">Flight shedule Here</h2>

         <center>
        <img id="image1" src="~/Images/air.png"/>
        <br>
       
        <a class="btn btn-outline-info" id="Index" asp-action="Index">View Table</a>
        </center>
    </div>
    
  </div>
</div>