
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row">
    <div class="col align-self-center homemaindiv">
        <h2 class="pageName">Flight shedule Here</h2>

        <img id="image1" src="~/Images/aa.png"/>
        <center>
        <a class="btn btn-outline-info" id="Index" asp-action="Index">View Table</a>
        </center>
    </div>
    
  </div>
</div>