@model ITPM_Project2022_SLIIT.Models.BookTickets

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/site.js" type="text/javascript"></script>

<h2>Enter Your Details For Booking</h2><br/><br/>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}

<div class="container">
<form onSubmit="validateForm(event)" asp-action="Edit" id="bookForm" enctype="multipart/form-data">
<div class="row">
    <div class="col align-self-center homemaindiv0">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
            <h5>Personal Details</h5><hr/>
            <div class="form-group">
                <li><label class="control-label">Passenger Name</label><label class="control-label star">*</label></li>
                <input type="text" asp-for="PassengerName" class="form-control" required/>
                <span asp-validation-for="PassengerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <li><label class="control-label">Passport Number</label><label class="control-label star">*</label></li>
                <input type="text" asp-for="PassportNumber" class="form-control" required/>
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <li><label asp-for="Email" class="control-label"></label><label class="control-label star">*</label></li>
                <input type="text" name="email" id="email" asp-for="Email" class="form-control" required/>
                <div id="email_error" class="error hidden">Please enter a valid email</div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <li><label class="control-label">Mobile Number</label><label class="control-label star">*</label></li>
                <input type="text" name="mobileNumber" id="mobileNumber" asp-for="MobileNumber" class="form-control" disabled/>
                <input type="hidden" name="mobileNumber" id="mobileNumber" asp-for="MobileNumber" class="form-control" required/>
                 <div id="phone_error" class="error hidden">Please enter a valid phone number</div>
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                <li><label class="control-label">Flight Class</label></li>
              <!--  <input asp-for="Class" class="form-control" /> -->
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Class" id="Class" value="First Class" asp-for="Class">
                  <label class="form-check-label" >
                    First Class
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Class" id="Class" value="Business Class" asp-for="Class">
                  <label class="form-check-label">
                    Business Class
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Class" id="Class" value="Primium Economy Class" asp-for="Class">
                  <label class="form-check-label">
                   Primium Economy Class
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Class" id="Class" value="Economy Class" asp-for="Class">
                  <label class="form-check-label">
                    Economy Class
                  </label>
                </div>
                <span asp-validation-for="Class" class="text-danger"></span>
            </div><br/>

            <div class="form-group">
                <li><label class="control-label">Required Seat</label><label class="control-label star">*</label></li>
                <input type="number" asp-for="RequiredSeat" class="form-control" required/>
                <span asp-validation-for="RequiredSeat" class="text-danger"></span>
            </div>
            <div class="form-group">     
                <input type="hidden" asp-for="SeatNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="GateNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TicketNumber" class="form-control" />
            </div><br/><br/>
    </div>

    <span class="tab"></span>

    <div class="col align-self-center homemaindiv0">
        <h5>Flight Details</h5><hr/>
            <div class="form-group">
                <li><label class="control-label">Flight Name</label></li>
                <input asp-for="FlightName" disabled class="form-control"/>
                <input type="hidden" asp-for="FlightName" class="form-control"/>
                <span asp-validation-for="FlightName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <li><label asp-for="Destination" class="control-label"></label></li>
                <input asp-for="Destination" disabled class="form-control"/>
                <input type="hidden" asp-for="Destination" class="form-control"/>
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <li><label asp-for="Date" class="control-label"></label></li>
                <input asp-for="Date" disabled class="form-control"/>
                <input type="hidden" asp-for="Date" class="form-control"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <li><label asp-for="Time" class="control-label"></label></li>
                <input asp-for="Time" disabled class="form-control"/>
                <input type="hidden" asp-for="Time" class="form-control"/>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <h5>Payment Details</h5><hr/>
            <div class="form-group">
                <li><label class="control-label">Paid Price</label><label class="control-label star">*</label></li>
                <input type="text" asp-for="PaidPrice" class="form-control" required/>
                <span asp-validation-for="PaidPrice" class="text-danger"></span>
            </div>
            <div>
                <li><label class="control-label">Paid Recipt</label><label class="control-label star">*</label></li>
                <input type="file" name="PaidRecipt" id="PaidRecipt" accept="image/*" asp-for="PaidRecipt" />
                <span asp-validation-for="PaidRecipt" class="text-danger"></span>
            </div><hr/>
            <div class="d-grid gap-2 col-6 mx-auto">
              <center>
              <button class="btn btn-outline-primary" type="submit">Book Ticktes Now</button>
              </center>
            </div><br />
    </div>
</div>

</form>
</div>


