@model ITPM_Project2022_SLIIT.Models.EconomyClassFood

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Add Economic Class Foods</h2>
<hr />



<div class="Naddform">
    <div class="Nform2" >
        <form enctype="multipart/form-data" asp-action="Create" class="ABC">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodName" class="control-label"></label>
                <input asp-for="FoodName" class="form-control" />
                <span asp-validation-for="FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
             <div class="form-group">
                <li><label class="control-label">Food Status</label></li>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="FoodStatus" id="FoodStatus" value="1" asp-for="FoodStatus">
                  <label class="form-check-label" >
                    Available
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="FoodStatus" id="FoodStatus" value="0" asp-for="FoodStatus">
                  <label class="form-check-label">
                    Non Available
                  </label>
                <span asp-validation-for="FoodStatus" class="text-danger"></span>
            </div><br/>
            </div>



            <div class="form-group">
               <center><input type="submit" value="Create" class="btn btn-primary" /></center> 
            </div>
        </form>

    </div>
</div>
