
@{
    ViewData["Title"] = "MainView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Your Food</h2>
<br>
<div class="container">
    <div class="homemaindivfood">
        <a class="btn btn-outline-info" asp-action="Index" style="width:300px; margin-bottom:25px; margin-top:25px;">First Class Food</a><br>
        <a class="btn btn-outline-info" asp-action="bs" style="width:300px; margin-bottom:25px;">Bussiness Class Food</a><br>
        <a class="btn btn-outline-info" asp-action="pri" style="width:300px; margin-bottom:25px;">Premium Economic Class Food</a><br>
        <a class="btn btn-outline-info" asp-action="econo" style="width:300px; margin-bottom:25px;">Economic Class Food</a>
    </div>
</div>

